/* -----COLOR----- */
$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;
$black-color: #000;
$blackLow-color: #101010;
$greyDark-color: #353535;
$greyHigth-color: #7E7E7E;
$greyMid-color: #F7F7F7;
$white-color: #fff;
/* -----FONT-SIZE----- */
$fs30: 30px;
$fs24: 24px;
$fs18: 18px;
$fs17: 17px;
$fs16: 16px;
$fs14: 14px;
/* -----FONT-WEIGHT----- */
$fw7: 700;
$fw5: 500;
$fw4: 400;
$fw3: 300;
/* -----FONT-FAMILY----- */
$ffs: 'Shrikhand', cursive;
$ffr: 'Roboto', sans serif;