@import"./utils/variables";
@import"./utils/mixinTitleH1";
*{
  margin: 0;
  padding: 0;
}
/*title & return back page*/
header{
  display: flex;
  flex-direction: column;
}
#returnTitle{
  display: flex;
  width: 100%;
}
#linkReturn{
  width: 17.2px;
  height: 16px;
  margin: 26px 0 21px 6.2%;
}
h1{
  width: 162px;
  height: 44px;
  margin: 14px 0 5px 17.2%;
  @include h1;
}
/*picture*/
#pictureRestaurant{
  height: 275px;
}
#picture{
  width: 100%;
  height: 275px;
  object-fit: cover;
}
/*Main*/
/*title & like*/
main{
  width: 100%;
  position: relative;
  background: #f6f6f6;
  margin-top: -46px;
  border-radius: 25px 25px 0 0;
}
#name{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 25px 25px 0 0;
  width: 100%;
  margin-top: 23px;
  padding-top: 32px;
  background: #f6f6f6;
}
#nameRestaurant{
  font-family: $ffs;
  font-style: italic;
  font-weight: 400;
  font-size: 28px;
  line-height: 41px;
  margin-left: 4.54%;
}
#like{
  width: 22px;
  height: 21px;
  margin-right: 10.94%;
}
.fa-heart{
  font-size: 22px;
}
/*menu*/
#menu{
  width: 93.07%;
  margin: 0 auto;
}
#starter{
  height: 269.64px;
}
.animMeal{
  transition: 0.3s;
  position: relative;
}
.titleMenu{
  width: 40px;
  border-bottom: 3px $tertiary-color solid;
  font-family: $ffr;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  margin-top: 42px;
  margin-bottom: 12px;
  padding-bottom: 12px;
}
.descriptionMenu{
  display: flex;
  align-items: center;
  height: 69px;
  margin-bottom: 12px;
  background: #FFFFFF;
  box-shadow: 0px 4.01149px 15.0431px rgba(0, 0, 0, 0.1);
  border-radius: 15.0431px;
  text-decoration: none;
  color: $black-color;
  overflow: hidden;
}
.animMenu1{
  transition: 0.3s;
  position: relative;
}
.textMenu{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  width: 10em;
  height: 44px;
  margin-left: 3.04%;
}
.nameMenu{
  font-family: $ffr;
  font-style: normal;
  font-weight: $fw5;
  font-size: $fs18;
  line-height: 21.09px;
}
.elementMenu{
  font-family: $ffr;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 17.58px;
}
.nameMenu, .elementMenu{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.priceMenu{
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  margin-right: 18px;
  height: 44px;
}
.price{
  font-family: $ffr;
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
}
.confirmation{
  background-color: #99E2D0;
  margin-right: -59px;
  width: 59px;
  height: 69px;
  border-radius: 0 10px 10px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: 0.9s;
}
.descriptionMenu:hover .confirmation{
  margin-right: 0;
}
.checking{
  width: 20px;
  height: 20px;
  background-clip: text;
  background: $white-color;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transform: rotate(360deg);
  transition-duration: 0.9s;
}
.item{
  color: $tertiary-color;
}
.descriptionMenu:hover .checking{
  transform: rotate(0);
}
/*animation menu*/
/*meal*/
#menu .animMeal:nth-child(1){
  animation: meal 0.5s linear 1 both;
}
#menu .animMeal:nth-child(2){
  animation: meal 0.5s linear  0.8s 1 both;
}
#menu .animMeal:nth-child(3){
  animation: meal 0.5s linear 1.6s 1 both;
}
@keyframes meal {
  0%{
    transform: translateY(75px);
    opacity: 0;
  }
  100%{
    transform: translateY(0);
    opacity: 1;
  }
}
/*listmeal*/
#starter .animMenu1:nth-child(2){
  animation: fade 0.5s ease-out 0.3s 1 both;
}
#starter .animMenu2:nth-child(3){
  animation: fade 0.5s ease-out 0.6s 1 both;
}
#starter .animMenu3:nth-child(4){
  animation: fade 0.5s ease-out 0.9s 1 both;
}
#dish .animMenu4:nth-child(2){
  animation: fade 0.5s ease-out 1.2s 1 both;
}
#dish .animMenu5:nth-child(3){
  animation: fade 0.5s ease-out 1.5s 1 both;
}
#dish .animMenu6:nth-child(4){
  animation: fade 0.5s ease-out 1.8s 1 both;
}
#dessert .animMenu7:nth-child(2){
  animation: fade 0.5s ease-out 2.1s 1 both;
}
#dessert .animMenu8:nth-child(3){
  animation: fade 0.5s ease-out 2.4s 1 both;
}
#dessert .animMenu9:nth-child(4){
  animation: fade 0.5s ease-out 2.7s 1 both;
}
@keyframes fade{
  0%{
    transform: translateY(75px);
    opacity: 0;
  }
  100%{
    transform: translateY(0);
    opacity: 1;
  }
}
/*button*/
#btn{
  display: flex;
}
#btnOrder{
    width: 59.7%;
    cursor: pointer;
    margin: 40px auto;
    background: linear-gradient(360deg, #9356DC -5.2%, #FF79DA 110.74%);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    border: none;
    border-radius: 25px;
    padding: 13px 5%;
    font-family: $ffr;
    font-weight: $fw5;
    font-size: $fs16;
    line-height: 18.75px;
    color: $white-color;
    transition: all 0.4s ease-out;
    &#btnOrder:hover{
      opacity: 0.7;
      background: linear-gradient(180deg, #9356DC -5.2%, #FF79DA 110.74%);
      box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.644);
    }
}
/*footer*/
footer{
  background: $greyDark-color;
  display: flex;
  justify-content: center;
}
#footPage{
  width: 86.67%;
  margin: 22px 0 33px 0;
}
#footTitle{
  margin-bottom: 16px;
  font-family: 'Shrikhand';
  font-style: italic;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: $white-color;
}
#footList{
  list-style: none;
}
.fa-utensils, .fa-handshake-angle{
  width: 13px;
  height: 11px;
  margin-right: 16px;
}
#l1, #l2, #l3{
  margin-bottom: 7px;
}
.footLink{
  text-decoration: none;
  font-size: $fs16;
  color: $white-color;
}
/*responsive*/
@media screen and (min-width: 768px) {
  #linkReturn{
    display: flex;
    justify-content: flex-end;
    width: 5%;
    margin: 26px 0 21px 0px;
    text-decoration: none;
    color: $black-color;
  }
  h1{
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 14px 0 5px 0;
  }
  #btnOrder{
    width: 186px;
    padding: 13px 16px;
  }
  /*footer*/
  #footList{
    display: flex;
    justify-content: space-around;
  }
}
@media screen and (min-width: 1024px) {
  #pictureRestaurant{
    height: 383px;
  }
  #picture{
    height: 383px;
  }
  main{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 69.23%;
    position: relative;
    top: -46px;
  }
  #name{
    justify-content: center;
  }
  #nameRestaurant{
    margin-right: 24px;
  }
  #menu{
    width: 60.1%;
  }
  #btnOrder{
    width: 186px;
    padding: 13px 16px;
  }
  /*footer*/
  footer{
    margin-top: -46px;
  }
  #footPage{
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: baseline;
    margin: 22px 0 33px 0;
  }
  #footList{
    width: 64%;
    justify-content: space-around;
  }
}